html body .font-light {

    font-weight: 300;

}
.text-white {

    color: #fff !important;

}
 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;

}
h1, h2, h3, h4, h5, h6 {

    margin-top: 0;
    margin-bottom: 0.5rem;

}
html body .font-light {

    font-weight: 300;

}
.text-white {

    color: #fff !important;

}
.h1, h1 {

    font-size: 36px;

}
.text-white {

    color: #fff !important;

}
.h6, h6 {

    font-size: 14px;

}
.col-lg-2 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;

}
.col-md-6 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

}
.col-lg-2 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;

}
.col-md-6 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

}
.col-md-12 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

}
.col-md-12 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

}
#main-wrapper .topbar[data-navbarbg="skin5"] {

    background: #1F262D;
    background: #1F262D;

    background-color: rgb(31, 38, 45);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;

}
.topbar .top-navbar {

    min-height: 64px;
    padding: 0px;

}

body {

    color: #3e5569;

}
body {

    font-family: "Nunito Sans", sans-serif;
    
    font-weight: 400;
    line-height: 1.5;
    color: #3e5569;
    text-align: left;

}
#main-wrapper .left-sidebar[data-sidebarbg="skin5"], #main-wrapper .left-sidebar[data-sidebarbg="skin5"] ul {

    background: #1F262D;
        background-color: rgb(31, 38, 45);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto auto;
        background-origin: padding-box;
        background-clip: border-box;

}
.left-sidebar {

    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    z-index: 10;
    padding-top: 64px;
    background: #fff;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

}
#main-wrapper[data-sidebartype="full"] .page-wrapper {

    margin-left: 250px;

}
.page-wrapper {

    background: #eeeeee;
    position: relative;
    margin-left: 250px;

}/*
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {

    display: block;

}*/
.page-breadcrumb {

    padding: 20px 20px 0 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;

}
.page-wrapper > .container-fluid {

    padding: 20px;
    min-height: calc(100vh - 180px);

}


.col-lg-2 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;

}
.col-md-6 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

}
